form_khieu_nai_flow.json
{
  "name": "Form Khieu Nai Flow",
  "nodes": [
    {
      "parameters": {
        "path": "form-khieu-nai",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook",
      "name": "Webhook - Form Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: {\n  name: $json.body.name || '',\n  email: $json.body.email || '',\n  message: $json.body.message || '',\n  created_at: new Date().toISOString()\n}}];"
      },
      "id": "Parse",
      "name": "Parse Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "RAW_DATA!A:D",
        "options": {}
      },
      "id": "WriteRaw",
      "name": "Ghi RAW_DATA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [600, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  item.json.analysis = 'Phân tích mẫu: ' + item.json.message;\n  return item;\n});"
      },
      "id": "AI",
      "name": "AI Analysis (Mock)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "AI_ANALYSIS!A:E",
        "options": {}
      },
      "id": "WriteAI",
      "name": "Ghi AI_ANALYSIS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "{ \"status\": \"success\" }",
        "responseCode": 200
      },
      "id": "Response",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook - Form Submit": {
      "main": [
        [{ "node": "Parse Data", "type": "main", "index": 0 }]
      ]
    },
    "Parse Data": {
      "main": [
        [{ "node": "Ghi RAW_DATA", "type": "main", "index": 0 }]
      ]
    },
    "Ghi RAW_DATA": {
      "main": [
        [{ "node": "AI Analysis (Mock)", "type": "main", "index": 0 }]
      ]
    },
    "AI Analysis (Mock)": {
      "main": [
        [{ "node": "Ghi AI_ANALYSIS", "type": "main", "index": 0 }]
      ]
    },
    "Ghi AI_ANALYSIS": {
      "main": [
        [{ "node": "Response - Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true
}
